#choropleth_map {
	padding-left: 165px;
	left: 100px;
	right: 100px;

}

#sleep_by_countries {
	top:20px;
	bottom: 100px; 
	left: 50px;

}

#avg_sleep {
	top:20px;
	bottom: 100px; 
	left: 100px;
	padding-left: 100px;
}

#age_sleep {
	top:40px;
	bottom: 100px; 
	left: 50px;
	
}

#sleep_duration_by_occupation {
	top:40px;
	bottom: 100px; 
	left: 100px;
	padding-left: 80px;
}
