#choropleth_map {
	top:30px;
	bottom: 20px; 
	left: 100px;
	right: 100px;

}

#sleep_by_countries {
	top:20px;
	bottom: 100px; 
	left: 50px;
	right: 100px;
}

#age_sleep {
	top:0px;
	bottom: 100px; 
	left: 50px;
	right: 100px;
}

#avg_sleep {
	top:0px;
	bottom: 100px; 
	left: 50px;
	right: 100px;
}

#sleep_duration_by_occupation {
	top:40px;
	bottom: 100px; 
	left: 50px;
	right: 100px;
}
